# Carbon Offset Credits Issued by Carbon Registries

In [3]:
import pandas as pd

In [5]:
db = pd.read_csv('American Carbon Registry.csv',encoding='latin-1')

In [8]:
db.head(5)

,Project ID,ARB ID,Project Developer,Project Name,Project VVB,Project Type,Voluntary Status,ARB Status,Project Site Location,Project Site State,Project Site Country,Sustainable Development Goal(s),Project Notes,Total Number of Credits Registered,Documents,Project Website,Unnamed: 16
0,ACR586,NaN,The Climate Trust,18 Reserves Forest Carbon Project,"Aster Global Environmental Solutions, Inc.",Forest Carbon,Listed,Not ARB Eligible,Near Cleveland,OHIO,US,Clean Water and Sanitation;Climate Action;Life...,NaN,NaN,View,NaN,NaN
1,ACR206,CAOD5052,EOS Climate Inc,2014-P4,NSF International Strategic Registrations (NSF...,Ozone Depleting Substances,NaN,ARB Completed,El Dorado,ARKANSAS,US,"Industry, Innovation and Infrastructure;Respon...",NaN,71825.0,View,www.eosclimate.com,NaN
2,ACR203,NaN,EOS Climate Inc,2014-P5,NSF International Strategic Registrations (NSF...,Ozone Depleting Substances,NaN,ARB Inactive,El Dorado,ARKANSAS,US,"Industry, Innovation and Infrastructure;Respon...",NaN,NaN,View,www.eosclimate.com,NaN
3,ACR521,CAOD5521,A-Gas US Inc.,A-Gas 1-2020,Ruby Canyon Environment,Ozone Depleting Substances,NaN,Listed - Active ARB Project,Bowling Green,OHIO,US,"Industry, Innovation and Infrastructure;Respon...",NaN,62007.0,View,www.agasamericas.com,NaN
4,ACR522,CAOD5522,A-Gas US Inc.,A-Gas 2-2020,Ruby Canyon Environment,Ozone Depleting Substances,NaN,Listed - Active ARB Project,Bowling Green,OHIO,US,"Industry, Innovation and Infrastructure;Respon...",NaN,94565.0,View,www.agasamericas.com,NaN

In [9]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Project ID                           475 non-null    object
 1   ARB ID                               208 non-null    object
 2   Project Developer                    475 non-null    object
 3   Project Name                         475 non-null    object
 4   Project VVB                          385 non-null    object
 5   Project Type                         475 non-null    object
 6   Voluntary Status                     216 non-null    object
 7   ARB Status                           475 non-null    object
 8   Project Site Location                474 non-null    object
 9   Project Site State                   473 non-null    object
 10  Project Site Country                 475 non-null    object
 11  Sustainable Development Goal(s)      421 non-null    object
 12  Project Notes                        1 non-null      object
 13  Total Number of Credits Registered   350 non-null    float64
 14  Documents                            475 non-null    object
 15  Project Website                      91 non-null     object
 16  Unnamed: 16                          0 non-null      float64
dtypes: float64(2), object(15)
memory usage: 63.2+ KB

### Project Type

In [94]:
Project_Type = db[db.columns[5]].dropna()

In [95]:
Project_Type.value_counts()

Forest Carbon                        152
Ozone Depleting Substances           110
Industrial Process Emissions          71
Transport / Fleet Efficiency          36
Coal Mine Methane                     33
Livestock Waste Management            24
Landfill Gas Capture & Combustion     13
Fuel Switching                         9
Agricultural Land Management           8
Wetland Restoration                    5
Carbon Capture & Storage (CCS)         5
Renewable Energy                       5
Energy Efficiency                      2
Industrial Gas Substitution            1
Wastewater Treatment                   1
Name: Project Type, dtype: int64

### Project Site Country

In [90]:
Project_Country = db[db.columns[10]].dropna()

In [91]:
Project_Country.value_counts()

US    452
BR     11
CA      4
MG      2
ML      1
BO      1
RW      1
SV      1
MX      1
NI      1
Name: Project Site Country, dtype: int64

### Sustainable Development Goal(s)

In [56]:
sustainable_goals = db[db.columns[11]].dropna()

In [67]:
goal = []
for i in sustainable_goals:
  temp = i.split(';')
  for j in temp:
    goal.append(j)

In [86]:
index = [i[0] for i in pd.DataFrame(goal).value_counts().index.tolist()]

In [89]:
pd.DataFrame(goal).value_counts()

Climate Action                             421
Industry, Innovation and Infrastructure    246
Responsible Consumption and Production     173
Clean Water and Sanitation                 169
Life on Land                               169
Zero Hunger                                 28
Affordable and Clean Energy                 14
Sustainable Cities and Communities          14
Good Health and Well-Being                   3
dtype: int64

### Total Number of Credits Registered

In [97]:
n_credits = db[db.columns[13]].dropna()

In [98]:
n_credits.describe()

count    3.500000e+02
mean     5.543149e+05
std      1.683249e+06
min      2.000000e+00
25%      4.107950e+04
50%      1.010200e+05
75%      2.669118e+05
max      1.577168e+07
Name: Total Number of Credits Registered , dtype: float64

#### type project

In [103]:
type_project_list =  db[db.columns[5]].dropna().unique()

In [104]:
type_project_list

array(['Forest Carbon', 'Ozone Depleting Substances',
       'Industrial Process Emissions', 'Fuel Switching',
       'Industrial Gas Substitution', 'Livestock Waste Management',
       'Coal Mine Methane', 'Landfill Gas Capture & Combustion',
       'Agricultural Land Management', 'Energy Efficiency',
       'Wetland Restoration', 'Transport / Fleet Efficiency',
       'Carbon Capture & Storage (CCS)', 'Renewable Energy',
       'Wastewater Treatment'], dtype=object)

In [119]:
credits_per_type_project_list = []

for i in type_project_list:
  credits_per_type_project = db[db['Project Type'] == i]
  credits_per_type_project = pd.DataFrame(credits_per_type_project)
  credits_per_type_project = credits_per_type_project['Total Number of Credits Registered '].dropna()
  total_credits = sum(credits_per_type_project)
  credits_per_type_project_list.append(total_credits)

In [120]:
credits_per_type_project_list

[131251271.0,
 9893520.0,
 7717933.0,
 255129.0,
 7984006.0,
 1652811.0,
 4021429.0,
 6228851.0,
 82586.0,
 439035.0,
 59552.0,
 934709.0,
 21780080.0,
 1609305.0,
 100000.0]

#### country

In [121]:
country_list =  db[db.columns[10]].dropna().unique()

In [122]:
country_list

array(['US', 'BR', 'ML', 'MG', 'BO', 'RW', 'CA', 'SV', 'MX', 'NI'],
      dtype=object)

In [123]:
credits_per_country_list = []

for i in country_list:
  credits_per_country = db[db['Project Site Country'] == i]
  credits_per_country = pd.DataFrame(credits_per_country)
  credits_per_country = credits_per_country['Total Number of Credits Registered '].dropna()
  total_credits = sum(credits_per_country)
  credits_per_country_list.append(total_credits)

In [124]:
credits_per_country_list

[188397591.0, 5533800.0, 0, 0, 1138.0, 0, 73606.0, 169.0, 0, 3913.0]